

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:285 1% 94%;
    --foreground:0 0% 0%;

    --primary:285 67% 1%;
    --primary-hover:285 2% 19%;
    --primary-foreground:285 1% 89%;
    --secondary:285 1% 67%;
    --secondary-hover:285 1% 57%;
    --secondary-foreground:0 0% 17%;
    --muted:285 1% 89%;
    --muted-hover:285 1% 78%;
    --muted-foreground:0 0% 39%;
    --accent:200 70% 40%;
    --accent-hover:204 43% 55%;
    --accent-foreground:0 0% 100%;

    --danger:0 65% 55%;
    --danger-hover:0 65% 45%;
    --danger-foreground:0 0% 98%;
    --warning:40 90% 60%;
    --warning-hover:40 90% 50%;
    --warning-foreground:0 0% 10%;
    --success:140 45% 45%;
    --success-hover:140 45% 35%;
    --success-foreground:0 0% 98%;

    --border:0 0% 0%;
    --ring:0 0% 0%;

    --chart-1:285 67% 1%;
    --chart-2:345 67% 1%;
    --chart-3:45 67% 1%;
    --chart-4:105 67% 1%;
    --chart-5:165 67% 1%;
 }

  .dark {
    --background:0 0% 0%;
    --foreground:0 0% 100%;

    --primary:0 0% 0%;
    --primary-hover:0 0% 0%;
    --primary-foreground:285 1% 89%;
    --secondary:0 0% 0%;
    --secondary-hover:0 0% 0%;
    --secondary-foreground:285 1% 78%;
    --muted:0 0% 0%;
    --muted-hover:0 0% 0%;
    --muted-foreground:285 1% 67%;
    --accent:200 70% 40%;
    --accent-hover:203 49% 22%;
    --accent-foreground:0 0% 100%;

    --danger:0 65% 55%;
    --danger-hover:0 65% 45%;
    --danger-foreground:0 0% 98%;
    --warning:40 90% 60%;
    --warning-hover:40 90% 50%;
    --warning-foreground:0 0% 10%;
    --success:140 45% 45%;
    --success-hover:140 45% 35%;
    --success-foreground:285 1% 78%;

    --border:285 67% 1%;
    --ring:285 67% 1%;

    --chart-1:0 0% 0%;
    --chart-2:0 0% 0%;
    --chart-3:0 0% 0%;
    --chart-4:0 0% 0%;
    --chart-5:0 0% 0%;
    } 
}
  










/* Custom scrollbar styles */
.custom-scrollbar {
  @apply overflow-auto scrollbar-thin scrollbar-track-background scrollbar-thumb-accent;
} 