
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:206 13% 96%;
    --foreground:204 28% 4%;

    --primary:203 35% 28%;
    --primary-hover:205 19% 41%;
    --primary-foreground:0 0% 100%;
    --secondary:206 13% 77%;
    --secondary-hover:206 13% 70%;
    --secondary-foreground:0 0% 27%;
    --muted:206 13% 92%;
    --muted-hover:206 13% 85%;
    --muted-foreground:0 0% 42%;
    --accent:233 35% 28%;
    --accent-hover:236 19% 41%;
    --accent-foreground:0 0% 100%;

    --danger:0 65% 55%;
    --danger-hover:0 65% 45%;
    --danger-foreground:0 0% 98%;
    --warning:40 90% 60%;
    --warning-hover:40 90% 50%;
    --warning-foreground:0 0% 10%;
    --success:140 45% 45%;
    --success-hover:140 45% 35%;
    --success-foreground:0 0% 98%;

    --border:205 23% 10%;
    --ring:205 25% 13%;

    --chart-1:203 35% 28%;
    --chart-2:263 35% 28%;
    --chart-3:323 35% 28%;
    --chart-4:23 35% 28%;
    --chart-5:83 35% 28%;
 }

  .dark {
    --background:0 0% 0%;
    --foreground:0 0% 100%;

    --primary:205 23% 10%;
    --primary-hover:205 25% 13%;
    --primary-foreground:206 13% 92%;
    --secondary:204 22% 8%;
    --secondary-hover:205 23% 10%;
    --secondary-foreground:206 13% 85%;
    --muted:204 24% 6%;
    --muted-hover:205 21% 9%;
    --muted-foreground:206 13% 77%;
    --accent:236 26% 13%;
    --accent-hover:235 28% 15%;
    --accent-foreground:241 14% 92%;

    --danger:0 65% 55%;
    --danger-hover:0 65% 45%;
    --danger-foreground:0 0% 98%;
    --warning:40 90% 60%;
    --warning-hover:40 90% 50%;
    --warning-foreground:0 0% 10%;
    --success:140 45% 45%;
    --success-hover:140 45% 35%;
    --success-foreground:206 13% 85%;

    --border:204 33% 24%;
    --ring:203 35% 28%;

    --chart-1:205 23% 10%;
    --chart-2:266 25% 10%;
    --chart-3:326 24% 10%;
    --chart-4:24 26% 10%;
    --chart-5:82 24% 10%;
    } 
}
  

  

  








/* Custom scrollbar styles */
.custom-scrollbar {
  @apply overflow-auto scrollbar-thin scrollbar-track-background scrollbar-thumb-accent;
} 