
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;

    --primary: #5d3f97;
    --primary-hover: #8e6f9c;
    --primary-foreground: #ffffff;
    --secondary: #99b3ff;
    --secondary-hover: #c2c2c2;
    --secondary-foreground: #000000;
    --muted: #99b3cc;
    --muted-hover: #e1e1e1;
    --muted-foreground: #4c4c66;
    --accent: #99b3ff;
    --accent-hover: #b3c2ff;
    --accent-foreground: #262626;

    --danger: #e11d48;
    --danger-hover: #be123c;
    --danger-foreground: #f1f1f1;
    --warning: #f59e0b;
    --warning-hover: #d97706;
    --warning-foreground: #1f2937;
    --success: #10b981;
    --success-hover: #059669;
    --success-foreground: #f1f1f1;

    --border: #e1e1e1;
    --ring: #5d3f97;
    --input: #e6e6e6;

    --chart-1: #334d66;
    --chart-2: #3a4c66;
    --chart-3: #411f66;
    --chart-4: #4a1e66;
    --chart-5: #521f66;
  }

  .dark {
    --background: #1e1e31;
    --foreground: #ffffff;

    --primary: #5d3f97;
    --primary-hover: #4d3b74;
    --primary-foreground: #ffffff;
    --secondary: #4c4c66;
    --secondary-hover: #333333;
    --secondary-foreground: #ffffff;
    --muted: #3c4f66;
    --muted-hover: #353f4d;
    --muted-foreground: #a6a6d9;
    --accent: #3c4f66;
    --accent-hover: #4d4f66;
    --accent-foreground: #f2f2f2;

    --danger: #e11d48;
    --danger-hover: #be123c;
    --danger-foreground: #f1f1f1;
    --warning: #f59e0b;
    --warning-hover: #d97706;
    --warning-foreground: #1f2937;
    --success: #10b981;
    --success-hover: #059669;
    --success-foreground: #f1f1f1;

    --border: #5f4e7c;
    --ring: #5d3f97;
    --input: #444444;

    --chart-1: #1c1c26;
    --chart-2: #410f2c;
    --chart-3: #441933;
    --chart-4: #472e33;
    --chart-5: #5c1c33;
  }
}


/* Custom scrollbar styles */
.custom-scrollbar {
  @apply overflow-auto scrollbar-thin scrollbar-track-background scrollbar-thumb-foreground;
} 

.animation-hover {
  @apply duration-200 transition-all
}
