@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-hover: var(--secondary-hover);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-hover: var(--muted-hover);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-hover: var(--accent-hover);
	--color-accent-foreground: var(--accent-foreground);
	--color-danger: var(--danger);
	--color-danger-hover: var(--danger-hover);
	--color-danger-foreground: var(--danger-foreground);
	--color-warning: var(--warning);
	--color-warning-hover: var(--warning-hover);
	--color-warning-foreground: var(--warning-foreground);
	--color-success: var(--success);
	--color-success-hover: var(--success-hover);
	--color-success-foreground: var(--success-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--animate-accordion-down: accordion-down 0.4s ease-out;
	--animate-accordion-up: accordion-up 0.4s ease-out;
	--animate-dropdown-in: dropdown-in 0.4s ease-out;
	--animate-dropdown-up: dropdown-up 0.4s ease-out;
	--animate-modal-in: modal-in 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-modal-out: modal-out 0.25s cubic-bezier(0.4, 0, 0.2, 1);

	@keyframes accordion-down {
		from {
			height: 0;
			opacity: 0;
		}
		to {
			height: var(--accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--accordion-content-height);
		}
		to {
			height: 0;
			opacity: 0;
		}
	}
	@keyframes dropdown-in {
		from {
			height: 0;
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			height: var(--dropdown-content-height);
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes dropdown-up {
		from {
			height: var(--dropdown-content-height);
			opacity: 1;
			transform: scale(1);
		}
		to {
			height: 0;
			opacity: 0;
			transform: scale(0.95);
		}
	}
	@keyframes modal-in {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes modal-out {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(0.95);
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		--background: hsl(0, 0%, 100%);
		--foreground: hsl(230, 38%, 6%);

		--primary: hsl(225, 36%, 11%);
		--primary-hover: hsl(229, 84%, 5%);
		--primary-foreground: hsl(216, 100%, 98%);
		--secondary: hsl(215, 20%, 65%);
		--secondary-hover: hsl(0, 0%, 76%);
		--secondary-foreground: hsl(225, 36%, 11%);
		--muted: hsl(220, 14%, 96%);
		--muted-hover: hsl(220, 14%, 86%);
		--muted-foreground: hsl(220, 9%, 46%);
		--accent: hsl(216, 79%, 96%);
		--accent-hover: hsl(0, 0%, 76%);
		--accent-foreground: hsl(225, 36%, 11%);

		--danger: hsl(0, 86%, 64%);
		--danger-hover: hsl(0, 71%, 58%);
		--danger-foreground: hsl(216, 100%, 98%);
		--warning: hsl(44, 90%, 61%);
		--warning-hover: hsl(43, 77%, 57%);
		--warning-foreground: hsl(0, 0%, 10%);
		--success: hsl(120, 39%, 54%);
		--success-hover: hsl(120, 39%, 49%);
		--success-foreground: hsl(0, 0%, 100%);

		--border: hsl(218, 39%, 90%);
		--ring: hsl(230, 38%, 6%);
		--input: hsl(0, 8%, 95%);

		--chart-1: hsl(8, 78%, 65%);
		--chart-2: hsl(173, 57%, 41%);
		--chart-3: hsl(191, 50%, 28%);
		--chart-4: hsl(82, 75%, 75%);
		--chart-5: hsl(62, 63%, 67%);
	}

	.dark {
		--background: hsl(230, 38%, 6%);
		--foreground: hsl(216, 100%, 98%);

		--primary: hsl(216, 100%, 98%);
		--primary-hover: hsl(0, 0%, 91%);
		--primary-foreground: hsl(225, 36%, 11%);
		--secondary: hsl(223, 20%, 14%);
		--secondary-hover: hsl(0, 7%, 9%);
		--secondary-foreground: hsl(216, 100%, 98%);
		--muted: hsl(223, 20%, 14%);
		--muted-hover: hsl(0, 0%, 29%);
		--muted-foreground: hsl(212, 7%, 63%);
		--accent: hsl(223, 20%, 14%);
		--accent-hover: hsl(240, 1%, 25%);
		--accent-foreground: hsl(216, 100%, 98%);

		--danger: hsl(0, 100%, 68%);
		--danger-hover: hsl(0, 71%, 58%);
		--danger-foreground: hsl(0, 0%, 97%);
		--warning: hsl(44, 90%, 61%);
		--warning-hover: hsl(43, 77%, 57%);
		--warning-foreground: hsl(0, 0%, 10%);
		--success: hsl(120, 39%, 54%);
		--success-hover: hsl(120, 39%, 49%);
		--success-foreground: hsl(0, 0%, 98%);

		--border: hsl(223, 20%, 14%);
		--ring: hsl(215, 53%, 89%);
		--input: hsl(223, 20%, 14%);

		--chart-1: hsl(215, 87%, 62%);
		--chart-2: hsl(158, 54%, 45%);
		--chart-3: hsl(40, 82%, 61%);
		--chart-4: hsl(286, 60%, 67%);
		--chart-5: hsl(345, 83%, 62%);
	}
}

/* Estilos para a barra de rolagem no modo light */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: var(--muted);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}


/* Estilos para a barra de rolagem no modo dark */
.dark .scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.dark .scrollbar-custom::-webkit-scrollbar-track {
  background-color: var(--color-muted); /* Cor de fundo escura */
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground); /* Cor do polegar clara */
  border-radius: 4px;
}